body{background-image: url(../spider.jpg);
background-repeat: no-repeat;
background-position: inherit;
background-size: 100% 100%}
h1{text-align: center;
    color: aliceblue;}
blockquote{size: 300px;
color: aliceblue;}
h2{text-align: center}
a{color: aliceblue}
h3{color: rgb(74, 129, 177);}
tt{font: bold;
    margin-inline-start: 100px;    
    position: sticky}